# =========================
# IDE
# =========================
.idea/
.vscode/
.vs/
*.iml

# =========================
# Node.js / Frontend
# =========================
node_modules/
dist/
build/
.next/
coverage/

# =========================
# Java / Spring Boot
# =========================
target/
*.class
*.jar
*.war
# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Environment
# =========================
.env

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
# =========================
# Docker
# =========================
docker-data/

# =========================
# Database
# =========================
*.sqlite
*.db